div.SCContent {
	overflow-x: hidden;
	overflow-y: hidden;
}

.SCAnimation canvas {
	/*
	-ms-transform: scale(0.5);
	-moz-transform: scale(0.5);
	-webkit-transform: scale(0.5);
	transform: scale(0.5);
	-ms-transform-origin: 0px 0px;
	-moz-transform-origin: 0px 0px;
	-webkit-transform-origin: 0px 0px;
	transform-origin: 0px 0px;
	*/
	pointer-events: none;
}


div#obj6377 {
position: absolute;
overflow: hidden;
top: -17px;
left: -179px;
width: 1009px;
height: 758px;
opacity: 1;
z-index: 0;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6377_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 1009px;
	height: 758px;
}
div#obj6379 {
position: absolute;
overflow: hidden;
top: 36px;
left: -155px;
width: 725px;
height: 664px;
opacity: 1;
z-index: 1;
display:block;
pointer-events: none;

user-select: none;  
-moz-user-select: none;
-webkit-user-select: none;
-ms-user-select: none;
}
img#obj6379_img {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 725px;
	height: 664px;
}

div#obj6381 {
position: absolute;
overflow: hidden;
top: 173px;
left: 79px;
width: 259px;
height: 469px;
opacity: 1;
z-index: 2;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;
font-size: 12px;
}
div#obj6381_content {
}
div#obj6393 {
position: absolute;
overflow: hidden;
top: 91px;
left: 88px;
width: 238px;
height: 69px;
opacity: 1;
z-index: 3;
display:block;
pointer-events: auto;
user-select: text;  
-moz-user-select: text;
-webkit-user-select: text;
-ms-user-select: text;

}
div#obj6393_content {
}
















body {
font-family: Lato, Arial, Helvetica, Sans-Serif;
font-size: 20px;
line-height: 1.2;
color: #000000
}
p, h1, h2, h3, h4, h5, h6 { margin: 0px; padding: 0px; }
:link { color: #0A52A2; }
:visited { color: #5B2599; }

.SCPage {
background-color: #FFFFFF
}
